################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Codigo/TestSoftplan.Test/bin/Debug/netcoreapp3.1
/Codigo/TestSoftplan.Test/obj
/Codigo/TestSoftplan.Test/TestSoftplan.Test.csproj.user
/Codigo/.vs/TestSoftplan/v16
/Codigo/TestSoftplan.CalculoJuros/bin/Debug/netcoreapp3.1
/Codigo/TestSoftplan.CalculoJuros/obj
/Codigo/TestSoftplan.TaxaJuros/bin/Debug/netcoreapp3.1
/Codigo/TestSoftplan.TaxaJuros/obj
